<div class="row gx-5 mb-4">
  <div class="col-12 col-md-4 p-6">
    <div class="card">
      <div class="card-body">
        <p>Saldo Atual</p>
        <p class="fs-2 fw-bold">
          <%= number_to_currency @saldo %>
        </p>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-4 p-6">
    <%= link_to new_movimentacao_path, class: "btn btn-primary" do %>
      <span>Nova Movimentação</span>
    <% end %>
  </div>

  <div class="col-12 col-md-4 p-6">
    <%= link_to destroy_usuario_session_path, class: "btn btn-secondary d-inline-flex gap-3", data: { turbo_method: :delete } do %>
      <span>Logado como <%= current_usuario.email %></span>
      <span>Sair</span>
    <% end %>
  </div>
</div>

<div id="movimentacoes">
  <%= render @movimentacoes %>
</div>
